body{margin:0 auto;font-family:sans-serif;}
*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
    background-color:white;
}
li,a{
    font-family:sans-serif;
    font-weight:500;
    font-size:16px;
    color:#1D4E70;
    text-decoration:none;
}

.logo{
    display:block;
    margin:10px ;
    line-height:55px;
    width:100px;
    float:left;
    border-right:1px solid green;
    padding:10px;
    

}
/*logo*/

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:row;
    padding:0px;
    position:fixed;
    margin:0px auto;
    overflow:auto;
    width:100%;

}
.navbar{
    list-style-type:none;
}
.navbar li {
    display:inline-block;
    padding:0px 20px;
     
}
.navbar li a{
    transition:all 0.3s ease 0.3s; 
}
.navbar li a:hover{
    color:#19BC9C;
    border-bottom:1px solid #19BC9C;

}
/* navbar */
.btn1{
    font-family:sans-serif;
    padding:9px 25px;
    background-color:#00984A;
    border:1px solid green;
    border-radius:50px;
    cursor:pointer;
    transition:all 0.5s ease 0s;
    color:white;
}
.btn2{
    font-family:sans-serif;
    padding:9px 25px;
    background-color:whitesmoke;
    border:1px solid green;
    border-radius:50px;
    cursor:pointer;
    transition:all 0.3s ease 0s;
    margin:10px;
    color:green;

}
.btn1:hover{
    background-color:white;
    color:green;
}
.btn2:hover{
    background-color:#4990CD;
    color:white;
}
/*header buttons*/

.banner{
    width:100%;
    height:auto;
    margin:0 auto;
}
.banner img{
    width:100%;
}
.text{
    position:absolute; 
    top:50%;
    font-size:50px;
    font-family:'Kaushan Script', cursive;

    color:white;
    padding:0px 10px;
    animation-name:slide;
   animation-duration:3s;
    animation-fill-mode:forwards;  
    left:-100%;  
    background-color:transparent;
    text-shadow:5px 2px 2px black;
    
}
@keyframes slide{
    0%{left: -100%;}
    100%{left:0%;}
}
/* banner and text*/

.search{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    padding:0px 100px 0px 50px;

}

.search .row, .search .row1 .col_6 {
    width: 22.5%;
}

.search .row .col_2 > input, 
.search .row .col_2 > select,
.search .row1 .col_4 > select,
.search .row_2 .col_6 > select
 {
    width: 100%;
}

h2, .main{
    color:#000000;
    font-weight:bold;
    font-family:sans-serif;
    text-align:center;
}
input[type=text],select{
    width:40%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:4px;
    resize:vertical;
}
label{
    padding:12px 12px 12px 0;
    display:inline-block;
}

.cotainer{
    border-radius:5px;
    background-color:#f2f2f2;
    padding:20px;   
}
.col1{
    float:left;
    border-radius:5px;
    width:18%;
    margin-top:6px;

}
.col2{
    float:left;
    width:70%;
    margin-top:6px;
}
.row:after{
    content:"";
    display:table;
    clear:both;
}
.col_6{
    float:left;
    width:250px;
}
/*
    .submit{
    background-color:#FF6200;
    color:white;
    padding:10px 20px 10px;
    border:none;
    border-radius:4px;
    cursor:pointer;
    float:right;
    margin:10px;
    position:relative;
    width:100px;
    height:44px;
    text-align:center;
    font-weight:bold;
}
.submit:hover{
    background-color:#ff6200ab;
}


